
body{
    background-image: url('../background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Login {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    
}

.Login-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;

}



.Login-header img { /*sombra em imagem, para lembrar depois de usar mais */
    width: 300px;
    box-shadow: 7px 5px 10px rgba(175, 23, 23, 0.568);
    
}

.Login-header h1 {
    color: #333;
    font-size: 2.0em;
}
 
.Login h1 { /*borda de letra, para lembrar depois de usar mais */
padding: 20px;
color: #eee;
text-shadow: 
-4px -4px 0 #000,  
4px -4px 0 #000,
-4px 4px 0 #000,
4px 4px 0 #000;

}
.Login-input,
.Login-input2 {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
    
    text-align: center;
}

.Login-buton {
    background-color: #ee665c;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 15px;
    max-width: 300px;
    width: 100%;
}
    
.Login-buton:disabled {
    background-color :#eee;
    color: #666666;
    cursor: auto;
    font-size: 25px;
}